.checkout-step-1 {
  width: 800px;
  margin: auto;
}

.text-center {
  text-align: center;
  color: #1a1a1a;
}

.review {
  display: block;
  width: 100%;
  text-align: center;
  color: #1a1a1a;
}

.basket-total {
  text-align: right;
}

.basket-total-title {
  font-size: 12px;
  margin: 0;
  color: #4a4a4a;
  line-height: 24px;
}

.basket-total-amount {
  margin: 12px 0;
  color: #1a1a1a;
  font-size: 24px;
}

.checkout-shipping-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button{
  background: #101010;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #101010;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
 
.button-muted{
  background: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
}

.button-muted:hover{
  background: #f9f9f9;
  border: 1px solid #c5c5c5;
}

.button:hover{
  cursor: pointer;
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
}