main {
    padding: 0 100px;
}



.product-modal {
    display: flex;
    width: 1050px;
    height: 590px;
    margin: 0 auto;
}

.product-img-wrapper {
    width: 50%;
    background-color: #f9f9f9;
}

.product-modal-details {
    width: 50%;
    padding: 40px;
}

.button-link {
    padding: 16px;
    margin: 20px 0;
}

.button-link:hover{
    cursor: pointer;
}

.color-list {
    list-style: none;
    display: flex;
    padding: 0;
}
.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
}

.color-option:hover {
    cursor: pointer;
}

.select {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
}

.size-select {
    margin: 20px 0;
}

.basket-btn {
    background-color: black !important;
}

.product-img-list {
    width: 150px;
    border: 1px solid #e1e1e1;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-shrink: 0;
    height: 100%;
    box-sizing: border-box;
}

.product-img-list::-webkit-scrollbar {
    width: 8px;
}

.product-img-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(255, 255, 255,0.1);
}

.product-img-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(255,255,255,0.1);
}

.detail-product-img {
    padding: 5px;
    
}

.product-img-container {
    border: 1px solid #e1e1e1;
    margin-bottom: 5px;
    height: 100px;
}

.img {
    width: 100%;
}