.filter-btn {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
}

.filter-btn:hover {
  background: #f9f9f9;
  border: 1px solid #c5c5c5;
}

.filters-action {
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
}

.applyfil-btn {
  background-color: #101010;
  border: none;
  color: #fff;
  font-weight: 700;
  height: 60px;
  flex: 1;
}

.applyfil-btn:hover {
  cursor: pointer;
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
}

.resetfil-btn {
  background: #fff;
  border: 1px solid #101010;
  color: #101010;
  font-weight: 700;
  height: 60px;
  flex: 1;
}

.resetfil-btn:hover {
  background: #e1e1e1;
  border: 1px solid #101010;
  cursor: pointer;
}

.filters-field-top {
  display: flex;
}

.filters-field-top .filters-field {
  flex: 1;
}

.priceRangeDisplay {
  height: 120px;
  width: 100%;
}

.priceRangeDisplay_center {
  height: 30px;
  width: 250px;
  margin: 10px auto;
  display: flex;
  font-weight: 700;
}

.priceLow, .priceHigh, .priceDash{
    font-size: 25px;
    flex: 1;
    text-align: center;
}

.css-ttgsjq-MuiSlider-track{
    background-color: #FFA500 !important;
    border: none !important;
}

.css-ltlhnc-MuiSlider-root{
    height: 15px !important;
}

.css-7o8aqz-MuiSlider-rail{
    background-color: rgb(208,208,208) !important;
}

.css-1as9v07-MuiSlider-thumb{
   background-color: rgb(26,26,26) !important;
   width: 24px !important;
   height: 24px !important;
}
