.shop-img-box {
  background-color: #f9f9f9;
}
.product-item {
  height: 100%;
}

.product-item:hover .shop-img-box {
  height: 70px;
}

.product-item:hover .add-btn {
  display: block;
}

.shop-img-box {
  height: 100px;
  transition: 0.5s;
}

.product-item img {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}

.shop-product-img:hover {
  scale: 1;
}

.product-intro {
  padding: 15px;
  text-align: center;
}

.product-intro h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.product-intro .product-name {
  font-size: 14px;
}

.product-intro p {
  margin: 22px 0;
  font-size: 16px;
  color: #818181;
  font-style: italic;
}

.product-intro .product-summary {
  font-size: 12px;
}

.product-intro .item-price {
  margin: 20px 0;
  font-style: normal;
  color: black;
  font-weight: 500;
}

.product-intro .product-summary {
  margin: 5px 0;
}

.add-btn {
  margin-top: 20px;
  color: white;
  background-color: black;
  width: 100%;
  height: 25px;
}

.add-btn:hover {
  cursor: pointer;
}

.remove-btn {
  background-color: white;
  border: 1px solid #e1e1e1;
  color: black;
  margin-top: 20px;
  width: 100%;
  height: 25px;
}

.remove-btn:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

