.search-content {
    padding: 0 100px;
}

.search-list-header{
    width: 100%;
    margin-bottom: 24px;
}

.search-list-header-title{
    text-align: center;
}

.search-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

}

.search-item {
    width: 180px;
    height: 240px;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    overflow: hidden;
    margin: 0 8px 20px;
}

.search-item:hover {
    cursor: pointer;
}

.search-item-wrap {
    transition: 0.5s;
}

.loader{
    width: 100%;
    background: #f2f2f2;
}




